[package]
name = "sqm-autorate-rust"
version = "0.2.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.dev]
codegen-units = 1
lto = true
opt-level = 's'

[profile.release]
codegen-units = 1
lto = true
opt-level = 'z'
panic = "abort"
strip = "symbols"


[dependencies]
anyhow = "1.0"
bincode = "3.0"
icmp-socket = "0.4.0"
neli = "0.7"
rand = "0.10"
rustix = { version = "1.1", features = ["fs", "thread", "time"] }
rust-uci = { version = "0.1", optional = true }
thiserror = "2.0"

[dependencies.log]
features = ["std"]
version = "0.4"

[dependencies.time]
features = ["formatting", "macros"]
version = "0.3"

[features]
uci = ["dep:rust-uci"]

[patch.crates-io]
icmp-socket = { git = 'https://github.com/Lochnair/icmp-socket.git', tag = "v0.4.0"}