[package]
name = "sqm-autorate-rust"
version = "0.2.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.dev]
codegen-units = 1
lto = true
opt-level = 's'

[profile.release]
codegen-units = 1
lto = true
opt-level = 'z'
panic = "abort"
strip = "symbols"


[dependencies]
anyhow = "1.0"
icmp-socket = "0.4.0"
netlink-bindings = { version = "0.2", features = ["rt-link", "tc"] }
netlink-socket2 = "0.2"
fastrand = "2"
rustix = { version = "1.1", features = ["fs", "thread", "time"] }
rust-uci = { version = "0.1", optional = true }
thiserror = "2.0"
libc = "0.2"
mlua = { version = "0.11.6", features = ["lua51", "vendored"] }

[dependencies.log]
features = ["std"]
version = "0.4"

[features]
uci = ["dep:rust-uci"]

[patch.crates-io]
icmp-socket = { git = 'https://github.com/Lochnair/icmp-socket.git', tag = "v0.4.0"}
